@import "./variables.scss";

html {
  width: 100vw;
  height: 100vh;
}

* {
  &::-webkit-scrollbar {
    height: 18px;
    width: 18px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: $indigo-highlight;
    &:hover {
      background-color: $indigo-highlight;
    }
    &:active {
      background-color: $indigo-highlight;
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: $crimson;
    &:hover {
      background-color: $crimson-highlight;
    }
    &:active {
      background-color: $crimson-highlight;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $white;
  overflow-x: hidden;
  padding-top: 70px;
  width: auto;
  height: auto;
}

.boldHeader {
  font-size: 28px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.outlinedHeader {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color: #18001d;
  font-size: 100px;
  font-weight: 700;
  line-height: 90px;
  text-transform: uppercase;
  max-width: 100%;
  font-family: "Poppins", sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.lightHeader {
  font-size: 28px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.fancyHeader {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 200;
}
