.menuContainer {
  position: fixed;
  top: 70px;
  left: 0;
  width: 15%;
  height: 100%;
  z-index: 10;
  background-image: $gradient-purple;
  color: $white;
  border-top: 1px solid $blue-violet;
  -webkit-box-shadow: 5px 9px 14px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 9px 14px 0px rgba(0, 0, 0, 1);
  box-shadow: 5px 9px 14px 0px rgba(0, 0, 0, 1);

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 80%;
    opacity: 0;
    visibility: hidden;

    &.open {
      visibility: visible;
      opacity: 1;
    }

    .menuLink {
      color: $white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 200;
      margin: 0 20px;
    }
  }
}

// @-webkit-keyframes slide-in-top {
//   0% {
//     -webkit-transform: translateY(-1000px);
//     transform: translateY(-1000px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//     opacity: 1;
//   }
// }
// @keyframes slide-in-top {
//   0% {
//     -webkit-transform: translateY(-1000px);
//     transform: translateY(-1000px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// @-webkit-keyframes slide-out-top {
//   0% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//     opacity: 1;
//   }
//   100% {
//     -webkit-transform: translateY(-1000px);
//     transform: translateY(-1000px);
//     opacity: 0;
//   }
// }
// @keyframes slide-out-top {
//   0% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//     opacity: 1;
//   }
//   100% {
//     -webkit-transform: translateY(-1000px);
//     transform: translateY(-1000px);
//     opacity: 0;
//   }
// }
