$background-color: #18001d;
$white: white;
$crimson: #d91c5c;
$crimson-highlight: #f11f66;
$indigo: #310050;
$blue-violet: #a922ff;
$orange-red: #f05a28;
$gradient: -webkit-linear-gradient(
  -86deg,
  #f05a28 5%,
  #d91c5c 53%,
  #a922ff 91%
);
$gradient-purple: linear-gradient(
  90deg,
  rgba(49, 0, 80, 1) 0%,
  rgba(24, 0, 29, 1) 100%
);
