$background-color: #18001d;
$white: white;
$crimson: #d91c5c;
$indigo: #310050;
$blue-violet: #a922ff;
$orange-red: #f05a28;

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: $background-color;
}
