$background-color: #18001d;
$white: white;
$crimson: #d91c5c;
$indigo: #310050;
$blue-violet: #a922ff;
$orange-red: #f05a28;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $background-color;
  transition: transform 0.9s ease-in-out;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 1px 10px;
  }

  .logoContainer {
    max-width: 18%;

    .logo {
      width: 100%;
    }
  }

  .menuIcon {
    color: $blue-violet;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
  }

  .horizontalLine {
    z-index: 1;
    width: 100%;
    max-height: 12px;
    margin-top: -4px;
    position: relative;
  }

  .horizontalLineImage {
    max-width: 100%;
  }

  &.hidden {
    transform: translateY(-100%);
  }
}
